@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$grass-green: rgb(0, 59, 20);
$texture-path: "../../assets/textures/blocks/";

.main-menu-screen {
  width: 100vw;
  height: 100vh;
  background-color: rgba(9, 111, 158, 0.363);
  display: flex;
  justify-content: center;
  align-items: center;

  .btns-wrapper {
    width: 80vw;
    padding: 4vw;
    background-color: rgba(255, 255, 255, 0.288);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .main-menu-btn {
      outline: none;
      border: none;
      color: white;
      font-family: "Press Start 2P", cursive;
      text-shadow: $grass-green 0.2vw 0.2vw 0;
      font-size: 1.8vw;
      width: 17vw;
      height: 17vw;
      transition: background 300ms;
    }

    .play-btn {
      background: url($texture-path + "grass_side.png") no-repeat;
      background-size: 100%;
    }

    .server-btn {
      background: url($texture-path + "oak_planks.jpg") no-repeat;
      background-size: 100%;
    }

    .settings-btn {
      background: url($texture-path + "bench_side.png") no-repeat;
      background-size: 100%;
    }

    .quit-btn {
      background: url($texture-path + "stone.png") no-repeat;
      background-size: 100%;
    }

    .play-btn:hover {
      cursor: pointer;
      background: url($texture-path + "grass_top.png") no-repeat;
      background-size: 100%;
    }

    .server-btn:hover {
      cursor: pointer;
      background: url($texture-path + "oak_top.png") no-repeat;
      background-size: 100%;
    }

    .settings-btn:hover {
      cursor: pointer;
      background: url($texture-path + "bench_top.png") no-repeat;
      background-size: 100%;
    }

    .quit-btn:hover {
      cursor: pointer;
      background: url($texture-path + "stone_bricks.png") no-repeat;
      background-size: 100%;
    }
  }
}

.hide {
  display: none;
}
