body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#start {
  color: white;
  text-shadow: black 0 0 2px;
  cursor: pointer;
}

.lock {
  display: none;
}
