@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$grass-green: rgb(0, 59, 20);

.settings-menu-screen {
  height: 100vh;
  width: 100vw;
  background-color: rgba(9, 111, 158, 0.363);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .settings-wrapper {
    width: 60vw;
    height: 36vw;
    box-sizing: border-box;
    padding: 4vw;
    background-color: rgba(255, 255, 255, 0.288);
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    // align-items: center;
  }

  .ok-btn {
    height: 4vw;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.514);
    outline: none;
    border: none;
    color: $grass-green;
    font-family: "Press Start 2P", cursive;
    font-size: 1.4vw;
  }

  .ok-btn:hover {
    cursor: pointer;
    background: white;
  }
}

.hide {
  display: none;
}
