@import "../opacityAnime.scss";

.chat-container {
  width: 26vw;
  position: absolute;
  bottom: 1.5vw;
  left: 0;
  color: rgba(255, 255, 255, 0.904);
  text-shadow: black;
  padding: 0.5vw 0;
  padding-bottom: 3.4vw;
  border-radius: 0.3vw;

  .scroll-container {
    height: 18vw;
    max-height: 18vw;
    overflow-y: auto;
    background: none;

    .someone-sock-info,
    .user-sock-info {
      font-size: 1vw;
      line-height: 1.35vw;
      margin: 0.1em 6em 1.2em 1.1em;
      padding: 0.3vw 0.7vw 0.3vw 1vw;
      border-radius: 1vw 1vw 1vw 0;
      background: rgba(0, 0, 0, 0.404);
      box-shadow: 0.1vw 0.1vw 0.6vw #0005;
      float: left;
      clear: left;
      font-family: "PT Mono", monospace;
    }
    .user-sock-info {
      margin: 0.1em 1em 1.2em 6em;
      border-radius: 1vw 1vw 0 1vw;
      background: rgba(0, 0, 0, 0.37);
      border-radius: 1vw 1vw 0 1vw;
      float: right;
      clear: right;
    }
    .messInfo {
      font-size: 0.6vw;
      color: rgba(255, 255, 255, 0.61);
      font-family: "PT Mono", monospace;
    }
  }

  .scroll-container::-webkit-scrollbar {
    width: 0.5vw;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 0.7vw;
  }

  textarea {
    position: absolute;
    text-align: center;
    top: 18.8vw;
    left: 1.1em;
    width: 23.5vw;
    height: 2.8vw;
    outline: none;
    border: none;
    border-radius: 1vw 1vw 0 1vw;
    background: rgba(0, 0, 0, 0.281);
    color: white;
    font-size: 1vw;
    font-family: "PT Mono", monospace;
    resize: none;
  }

  textarea::placeholder {
    color: rgba(255, 255, 255, 0.671);
    font-size: 1vw;
    font-family: "PT Mono", monospace;
  }

  textarea::-webkit-scrollbar {
    width: 0.5vw;
  }
  textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 0.7vw;
  }
}
