@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", cursive;
}

#chat-container {
  width: 26vw;
  position: absolute;
  bottom: 1.5vw;
  left: 0;
  color: rgba(255, 255, 255, 0.904);
  text-shadow: black;
  padding: 0.5vw 0;
  padding-bottom: 3.4vw;
  border-radius: 0.3vw;
  box-shadow: 0px 2vw 2vw rgba(0, 0, 0, 0.144);

  #scroll-container {
    height: 18vw;
    max-height: 18vw;
    overflow-y: auto;
    background: none;

    .someone-sock-info,
    .user-sock-info {
      font-size: 0.9vw;
      line-height: 1.35vw;
      margin: 0.1em 6em 1.2em 1.1em;
      padding: 0.3vw 0.7vw 0.3vw 1vw;
      border-radius: 1vw 1vw 1vw 0;
      background: rgba(0, 0, 0, 0.37);
      box-shadow: 0.1vw 0.1vw 0.6vw #0005;
      float: left;
      clear: left;
    }
    .user-sock-info {
      margin: 0.1em 1em 1.2em 6em;
      border-radius: 1vw 1vw 0 1vw;
      background: rgba(0, 0, 0, 0.27);
      border-radius: 1vw 1vw 0 1vw;
      float: right;
      clear: right;
    }
    .messInfo {
      font-size: 0.5vw;
      color: rgba(255, 255, 255, 0.61);
    }
  }

  #scroll-container::-webkit-scrollbar {
    width: 0.5vw;
  }

  #scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.418);
    border-radius: 0.7vw;
  }

  textarea {
    position: absolute;
    top: 18.5vw;
    width: 98.5%;
    height: 2.8vw;
    outline: none;
    border-top: 4px rgba(0, 0, 0, 0.185) solid;
    border-radius: 0vw 0vw 0.3vw 0.3vw;
    background: none;
    background: rgba(0, 0, 0, 0.281);
    color: white;
    font-size: 0.8vw;
    resize: none;
  }

  textarea::placeholder {
    color: rgba(255, 255, 255, 0.671);
    font-size: 0.8vw;
  }

  textarea::-webkit-scrollbar {
    width: 0.5vw;
  }
  textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 0.7vw;
  }
}

.hide {
  display: none;
}
