@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

$grass-green: rgb(0, 59, 20);

.quit-confirm-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(9, 111, 158, 0.363);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .quit-confirm-wrapper {
    width: 60vw;
    height: 26vw;
    padding: 2vw;
    background-color: rgba(255, 255, 255, 0.288);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    .confirm-message {
      width: 100%;
      text-align: center;
      color: $grass-green;
      font-family: "Press Start 2P", cursive;
      font-size: 2vw;
    }

    .btns-wrapper {
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .yes-btn,
      .no-btn {
        height: 4vw;
        width: 20vw;
        background-color: rgba(255, 255, 255, 0.514);
        outline: none;
        border: none;
        color: $grass-green;
        font-family: "Press Start 2P", cursive;
        font-size: 1.4vw;
      }

      // .no-btn {
      //   font-size: 3vw;
      // }

      .yes-btn:hover,
      .no-btn:hover {
        cursor: pointer;
        background: white;
      }
    }
  }
}

.hide {
  display: none;
}
